@media (max-width: 1000px) {
  .table-container {
    height: 300px;
  }
}

.table-cell {
  padding: 8px;
}

.small-text {
  font-size: 12px;
  color: gray;
}

mat-cell {
  line-height: 1.5;
  min-width: 100px;
  font-size: 14px;
  color: black;
  text-align: left;
}

.mat-row:hover {
  background-color: #eaeaea;
}

.mat-table {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
  font-size: 1.2em;
  color: white;
}

.table-container {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  scrollbar-width: 30px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 0 0 0.55em 0.3em rgba(0, 0, 0, 0.15);
  width: 98%;
  
  margin-left: 1%;
  background-color: white;
}

.table-container::-webkit-scrollbar {
  display: none;
}

h1, h3 {
  font-family:monospace;
  padding:0;
  margin:0;
  text-align:left;
  font-weight:100;
}
h1 {
  font-size:36px;
  margin-bottom:30px;
}

.gradient-background {
  
   background: linear-gradient(62deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
     animation: gradient 10s ease infinite; 
      background-size: 400% 400%;
  
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}