html {
  text-align:center; 
  display:grid;
  place-items:center;
  min-height:100vh;
}

body {
  background:#111;
  color:white;
  background:linear-gradient(to bottom right, #111 48%, #222 49%, #333 51%, #111 52%);
  background-size:1em 1em;
  display:grid;
  place-items:center;
  overflow:hidden;
  width:100%;
  max-width:1000px;
  margin:0 auto;
  padding:3em;
}

h1, h3 {
  font-family:monospace;
  padding:0;
  margin:0;
  text-align:left;
  font-weight:100;
}
h1 {
  font-size:36px;
  margin-bottom:30px;
}
h3 {
  font-size:12px;
  padding-bottom:50px;
}

.planetBox {
  display:inline-block;
  position:relative;
  font-family:monospace;
  border-radius:50%;
  margin:1em;
}

.planet {
  height:150px;
  width:150px;
  border-radius:50%;
  background:gray;
  text-align:center;
  line-height:150px; 
  float:left;
  color:white;
  transition:1s;
  background:white;
  overflow:hidden;
  user-select:none;
}

.info {
  height:140px;
  width:140px;
  text-align:center;
  position:absolute;
  z-index:-1;
  pointer-events:none;
  color:#111;
  border-radius:50%;
  user-select:none;
  font-size:11px;
  transition:.75s;
  margin-left:5px;
  margin-top:5px;
  background-size:cover;
  background-position:50% 50%;
  opacity:0;
}

.planetBox:hover > .planet {
  transform:rotate(540deg);
  color:transparent;
  font-size:36px;
}
.planetBox:hover > .info {
  opacity:1;
  z-index:1;  
}

