.table-cell {
  padding: 8px;
}

mat-cell {
  font-size: 14px;
}

mat-cell {
  line-height: 1.5;
  min-width: 100px;

}

.mat-row:hover {
  background-color: #eaeaea;
}

.mat-table {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
  font-size: 1.2em;
  background-color: #0c3e92;
  color: white;
}

.mat-cell {
  color: black;
  text-align: left;
}

.table-container {
  margin: 25px 0;
  display: block;
  scrollbar-width: 30px;
  height: calc(100% - 200px);
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 0 0 0.55em 0.3em rgba(0, 0, 0, 0.15);
  width: 98%;
  margin-left: 1%;
  background-color: white;
}

h1, h3 {
  font-family:monospace;
  padding:0;
  margin:0;
  text-align:left;
  font-weight:100;
}
h1 {
  font-size:36px;
  margin-bottom:30px;
}