

<h1>Star Wars Planets <span class="small-text">(click on a planet to see its wiki page)</span></h1>
<div class="table-container" >
    <mat-table [dataSource]="planets">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell  *matHeaderCellDef> {{ tableDef[column].header }} </mat-header-cell>
            <mat-cell *matCellDef="let planet"> 
                <span *ngIf="column === 'climate' || column === 'gravity' || column === 'terrain'" >
                    {{ planet[column].toUpperCase() }}
                </span>
                <span *ngIf="column !== 'climate' && column !== 'gravity' && column !== 'terrain'" >
                    {{ planet[column] }}
                </span>
            </mat-cell>
        </ng-container>
        <mat-header-row class="gradient-background" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="goToWiki(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

