<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,600,700' rel='stylesheet' type='text/css'>
</head>
<h1>Star Wars Planets <span class="small-text">(click on a planet to visit its wiki page)</span></h1>
<div class="table-container" >
    <mat-table [dataSource]="planets" appResizable>
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell  *matHeaderCellDef> {{ tableDef[column].header }} </mat-header-cell>
            <mat-cell *matCellDef="let planet"> 
                <span *ngIf="column === 'rotation_period'" >
                    {{ planet[column] + " hours" }}
                </span>
                <span *ngIf="column === 'orbital_period'" >
                    {{ planet[column] + " days" }}
                </span>
                <span *ngIf="column === 'diameter'" >
                    {{ planet[column] + " km" }}
                </span>
                <span *ngIf="column === 'climate' || column === 'gravity' || column === 'terrain'" >
                    {{ planet[column].charAt(0).toUpperCase() + planet[column].slice(1) }}
                </span>
                <span *ngIf="column !== 'climate' && column !== 'gravity' && column !== 'terrain' && column !== 'rotation_period' && column !== 'orbital_period' && column !== 'diameter'" >
                    {{ planet[column] }}
                </span>
            </mat-cell>
        </ng-container>
        <mat-header-row class="gradient-background" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: pointer;" (click)="goToWiki(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

