<h1>Star Wars: Planets</h1>
    <div id="planets_container">
      <div *ngFor="let location of locations" class="planetBox">
        <div [id]="location" class="planet" [style.background]="'radial-gradient(circle at 33% 66%,'+ color() + ',' + color()+')'" (mouseover)="displayInfo = true" (mouseout)="displayInfo = false">
          {{ location.toUpperCase() }}
        </div>
        <div class="info" [ngClass]="{'show-info': displayInfo}" [style.background-image]="'url('+ planetImageUrl + location + '.jpg)'" >
        </div>
      </div>
    </div>