.table-container {
    margin: 15px 0;
    display: block;
    position: relative;
    -ms-overflow-style: none;
    max-height: calc(100% - 180px);
    width: calc(100% - 30px);
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 25px;
    box-shadow: 0 0 0.72em 0.38em rgba(0, 0, 0, 0.15);
    margin-left: 15px;
    background-color: white;
}

.table-container::-webkit-scrollbar { 
    display: none;
}

/* Bottom blue border */
.border{
    border-bottom: 20px solid #0c3e92;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: inset 4px 7px 20px -9px rgba(255,255,255,1);
}

/* Paginator styling */
mat-paginator {
    position: sticky;
    bottom: 0;
    left: calc(100% - 420px);
    width: 420px;
    background-color: #0c3e92;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    height: auto;
    border-top-left-radius: 25px;
    z-index: 2;
}

.mat-paginator{
    height: 36;
}

mat-paginator .mat-select-value-text {
    color: white;
}

.mat-option.mat-selected{
    color: white;
}

/* If on smaller screen, make table 1350px */
@media only screen and (max-width: 1375px) {
    .table-container {
        width: 1350px;
        max-height: calc(100% - 180px);
    }
}

.test-table th:first-child {
    width: 60px;
}

/* Testing row borders
td.mat-cell {
    border-left: 1px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    padding-left: 7px;
} */

.test-table {
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: -56px;

}

.mat-header-cell {
    font-size: 1.2em;
    background-color: #0c3e92;
    color: white;
}

.mat-cell {
    color: black;
    text-align: left;
}

.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:hover {
    background-color: #eaeaea;
}
  
/* Expanded row */
.exoplanet-detail {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.exoplanet-description {
  padding: 16px;
}

tr.exoplanet-detail-row {
   height: auto;
}

.exoplanet-row td {
   border-bottom-width: 0;
}

.detail-container{
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
    width: 100%;
}

.mat-select-value-text {
    color: white;
}


/* Side Buttons */
.sidebar-buttons-container button {
    height: 40px;
    width: 40px;
    margin: -5px 0;
}

#shareButton {
    background-color: #fc3d21;
}

#columnButton{
    background-color: #eaeaea;
}

.sidebar-buttons-container{
    position: fixed;
    right: 25px;
    bottom: 100px;
    width: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: center;
    align-items: center;
    background-color: #0b3d91;
    border-radius: 30px;
}