
.table-container {
    margin: 15px 0;
    display: block;
    -ms-overflow-style: none;
    max-height: calc(100% - 185px);
    width: 98%;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 25px;
    box-shadow: 0 0 0.7em 0.38em rgba(0, 0, 0, 0.15);
    margin-left: 1%;
    background-color: white;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.mat-option.mat-selected{
    color: white;
}

/* If on mobile, make table 1000px */
@media only screen and (max-width: 500px) {
    .table-container {
        width: 1200px;
    }
}
mat-paginator {
    position: sticky;
    bottom: 0;
    background-color: #0c3e92;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    height: auto;
    width: 100%;
}

.test-table th:first-child {
    width: 60px;
}

.test-table {
    width: 100%;
    height: calc(100% - 56px);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
    font-size: 1.2em;
    background-color: #0c3e92;
    color: white;
}

.mat-cell {
    color: black;
    text-align: left;
}

.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:hover {
    background-color: #eaeaea;
}
  
.exoplanet-detail {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.exoplanet-description {
  padding: 16px;
}

tr.exoplanet-detail-row {
   height: auto;
}

.exoplanet-row td {
   border-bottom-width: 0;
}

.detail-container{
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
}

.mat-select-value-text {
    color: white;
}