.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;   
}

.styled-table thead, .styled-table tbody {
    width: 100%;
}

.styled-table thead tr {
    position: sticky;
    background-color: #0b3d91;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    width: 20%;
}

.styled-table tr {
    width: 100%;
    display: table;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody {
    display: block;
    max-height: 75vh;
    overflow: auto;
}

.styled-table thead th:hover{
    background-color: #0c3e92;
    cursor: pointer;
}

.styled-table tbody tr:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.table-container {
    margin: 25px 0;
    display: block;
    scrollbar-width: 30px;
    height: calc(100% - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 25px;
    box-shadow: 0 0 0.55em 0.3em rgba(0, 0, 0, 0.15);
    width: 98%;
    margin-left: 1%;
    background-color: white;
}

.test-table {
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-header-cell {
    font-size: 1.2em;
    background-color: #0c3e92;
    color: white;
}

.mat-cell {
    color: black;
    text-align: left;
}

.mat-row:nth-child(even){
    background-color: white;
}
        

.mat-row:hover {
    background-color: #eaeaea;
  }
  
  .exoplanet-detail {
    overflow: hidden;
    display: flex;
  }

  .exoplanet-description {
    padding: 16px;
  }

  tr.exoplanet-detail-row {
    height: 0;
  }

  .exoplanet-row td {
    border-bottom-width: 0;
  }


 