.tableheader {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 450;
    position: sticky;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    background-color: white;
}

.styled-table thead tr {
    position: sticky;
    background-color: #0b3d91;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table-body{
    overflow-y: auto;
    max-height: 500px;
    display: block;
}
