


<table mdbTableSort="mdbTableSort" class="sortable" class="styled-table" >
    <span class="table-body">
        <thead>
            <tr>
                <th *ngFor="let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tbody *ngIf="exoplanetData.length > 0">
            <tr  *ngFor="let exoplanet of exoplanetData; count as i" (click)="nasaEyes(exoplanet)">
                <td>{{exoplanet.pl_name}}</td>
                <td>{{exoplanet.hostname}}</td>
                <td>{{exoplanet.discoverymethod}}</td>
                <td>{{exoplanet.disc_year}}</td>
                <td>{{exoplanet.disc_facility}}</td>
            </tr>
        </tbody>  
    </span>        
</table>