.table-container {
    margin: -5px 0;
    display: block;
    position: relative;
    -ms-overflow-style: none;
    max-height: calc(100% - 170px);
    width: calc(100% - 30px);
    overflow-x: scroll;
    overflow-y: scroll;
    transition: all 0.2s ease;
    border-radius: 25px;
    box-shadow: 0 -1px 0.68em 0.32em rgba(0, 0, 0, 0.13);
    margin-left: 15px;
    background-color: white;
}

.table-container::-webkit-scrollbar { 
    display: none;
}

/* Bottom blue border */
.border{
    border-bottom: 20px solid #0c3e92;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: inset 4px 7px 20px -9px rgba(255,255,255,1);
}

/* Paginator styling */
mat-paginator {
    position: sticky;
    bottom: 0;
    left: calc(100% - 420px);
    width: 420px;
    background-color: #0c3e92;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    height: auto;
    border-top-left-radius: 25px;
    z-index: 2;
}

.mat-paginator{
    height: 36;
}

mat-paginator .mat-select-value-text {
    color: white;
}

.mat-option.mat-selected{
    color: white;
}

/* If on smaller screen, make table 1350px */
@media only screen and (max-width: 1375px) {
    .table-container {
        width: 1345px;
        max-height: calc(100% - 170px);
    }
}
@media only screen and (max-width: 475) {
    .table-container {
        width: 1340px;
        max-height: calc(100% - 190px);
    }
}

.test-table {
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: -56px;
}

.mat-header-cell {
    font-size: 1.2em;
    background-color: #0c3e92;
    color: white;
    padding-left: 7px;
}

.mat-cell {
    color: black;
    text-align: left;
}

.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:hover {
    background-color: #eaeaea;
}
  
/* Expanded row */
.exoplanet-detail {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.exoplanet-description {
  padding: 16px;
}

tr.exoplanet-detail-row {
   height: auto;
}

.exoplanet-row td {
   border-bottom-width: 0;
}

.detail-container{
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
    width: 100%;
}

.mat-select-value-text {
    color: white;
}

/* Side Buttons */
.sidebar-buttons-container button {
    height: 40px;
    width: 40px;
    margin: -5px 0;
}

#closeButton{
    background-color: #fc3d21;
}   

#shareButton {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
}

#columnButton{
    background-color: #eaeaea;
}

button[disabled] {
    background-color: rgba(0, 0, 0, 0.13) !important;
  }

.sidebar-buttons-container{
    position: fixed;
    width: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 255px;
    justify-content: center;
    align-items: center;
    background-color: #0b3d91;
    border-top-left-radius: 25px;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 1375px) {
    .sidebar-buttons-container{
        right: 15px !important;
        bottom: calc(50% - 195px) !important;
        border-radius: 25px !important;
    }
  }

  @media only screen and (max-width: 475px) {
    .sidebar-buttons-container{
        height: 250px;
        width: 55px;
    }
  }

td.mat-cell {
    border-left: 1px solid #eaeaea;
    padding-left: 7px;
} 

.mat-column-index {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 30px;
}

.mat-column-disc_year {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 100px;    
}

.mat-column-pl_rade {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 55px;    
}

.mat-column-pl_bmasse {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 55px;    
}

.mat-column-pl_dens {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 55px;    
}

.mat-column-pl_eqt {
    word-wrap: break-word ;
    white-space: unset;
    max-width: 65px;    
}

