


.test-table {
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
    font-size: 1.2em;
    background-color: #0c3e92;
    color: white;
}

.mat-cell {
    color: black;
    text-align: left;
}

.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:hover {
    background-color: #eaeaea;
}
  
.exoplanet-detail {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.exoplanet-description {
  padding: 16px;
}

tr.exoplanet-detail-row {
   height: auto;
}

.exoplanet-row td {
   border-bottom-width: 0;
}

.detail-container{
    background: linear-gradient(to top, #ffffff, #eeeeee);
}

tr.exoplanet-expanded-row {
    background-color: #eeeeee;
}
 