#loadingcircle{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0b3d91;
    width: 120px;
    height: 120px;
    animation: fade 2s linear, spin 2s infinite;
    
    }
    
#loadingtext{
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    animation: fade 2s linear;
}  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

