

  <ng-container *ngIf="loadingService.isLoading$ | async" >
    <div class="spinner-border" role="status" style="position: absolute; top: 40%;">
        <p id="loadingtext" >Loading</p>
        <span class="sr-only" id="loadingcircle"></span>
    </div>
  </ng-container>

  <table class="table  table-sm table-bordered">
    <thead>
    <tr>
      <th>Planet name</th>
      <th>Discovery Method</th>
      <th>Discovery Year</th>
      <th>Discovery Facility</th>
    </tr>

    </thead>
    <tbody >
    <tr >
        <td>{{exoplanetData[0].hostname}}</td>
       
    </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>