.toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #010621;
  color: white;
  font-weight: 600;
}

.toolbar #github-logo {
  height: 40px;
  margin: 0 8px;
}

.header-title {
  font-size: 20pt;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: 400;
  margin-left: 10px;
  text-shadow: 1px 1px 1px #919191, 2px 2px 1px #919191, 3px 3px 1px #919191;
  transition: transform 0.25s ease, text-shadow 0.25s ease;
  transform: translateY(-0.5px);
  cursor: pointer;
}
  
.header-title:hover {
  text-shadow: 1px 1px 1px #919191, 2px 2px 1px #919191;
  transform: translateY(-0.3px);
}
  
 .header-title:active {
  text-shadow: 1px 1px 1px #919191;
  transform: translateY(0);
  transition: transform 0.1s ease;
}

.content {
  display: block;
  display: table-cell;
  position: fixed;
  margin: 40px auto 82px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 50%;
  width: 99%;
  left: 0;
}

.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: 8px;
  text-align: center; 
  color: white; 
  background-color: #010621;
  display: table-cell;
  vertical-align: middle;
  height: 25px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle;
}

.footer_text{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 0px;
}

svg#clouds2 {
  z-index: -8;
}

svg#clouds {
  z-index: -10;
}

svg#rocket-smoke {
  height: 100%;
  position: fixed;
  top: 10px;
  right: 20%;
  z-index: -9;
}

/* Default cloud position */
@media only screen and (min-width: 850px) {
  svg#clouds{
    bottom: 25px;
  }
  svg#clouds2{
    bottom: 25px;
  }
}

/* Mobile sizing */
@media only screen and (max-width: 850px) {
  svg#rocket-smoke {
    position: fixed;
    top: 120px;
    left: -60px;
    overflow: hidden;
    transform: scale(0.8);
  }
  .background{
    overflow: hidden;
  }
  .header-title{
    font-size:14.0pt; 
  }
  .footer{
    height: 40px;
  }
  svg#clouds{
    bottom: 40px;
  }
  svg#clouds2{
    bottom: 40px;
  }
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0;
}

a:link {
  color: #6666ff;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #5555ff;
  background-color: transparent;
  text-decoration: underline;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* KEYFRAMES FOR SPINNER */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}

/* SOLAR SYSTEM SPINNER */

.solar-system {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a0a0a;
  border-radius: 50%;
}

.earth-orbit {
  width: 165px;
  height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
  animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
  animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
  animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.venus{
  background-color: #FFC649;
}

.mercury{
  background-color: #d5d7de;
}

.earth{
  background: 
    radial-gradient(circle at 40% 40%, green, blue),
    repeating-linear-gradient(
      135deg,
      green,
      blue 10%,
      green 10%,
      blue 20%
    );
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffab91;
}

