.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 8px;
    text-align: center; 
    color: white; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

