.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 8px;
    text-align: center; 
    color: white; 
    display: table-cell;
    vertical-align: middle;
  }

.footer_text{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}