.inputbar {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;


} 

@media only screen and (max-width: 1355px) {
  .inputbar{
    padding-right: 15px;
  }
}

.hostname_select, .method_select, .year_select, .facility_select  {
  width: 260px;
  height:40px;
  font-size:16px;
  text-align:left;
  padding-left: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 15px;
}

.search_button, .clear_button {
  background-color: #0b3d91;
  width: 80px;
  height: 40px;
  font-size:16px;
  letter-spacing: 0.1px;
  margin-left: 15px;
}

#shareButton {
  position: fixed;
  bottom: 155px;
  right: 30px;
  z-index: 10;
}

#downloadButton {
  position: fixed;
  bottom: 105px;
  right: 30px;
  z-index: 10;
}

.table{
  height: 100%;
  width: 100%;
}

.table::-webkit-scrollbar { 
  width: 0.2em;
  background-color: #F5F5F5; 
}

p{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  display: inline-block;
}

p:after {
  right: 100%;
  left: 0;
}
p:hover:after {
  right: 0;
}

.no-results {
  text-align: center;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.no-results-text{
  font-size: 4em;
  color: #555;
}

.no-results-text:after{
  content:'';
  position: absolute;
  border-bottom: 2px solid #555;
  top: 100%;
  transition: all 0.4s;
 }

.no-results-text:hover{
  cursor: pointer;
}

.new-search {
  font-size: 2em;
  margin-top: 2.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
}