<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<span class="inputbar" id="inputbar" style="float: left; display: absolute">
  
  <select class="hostname_select" id="hostname_select" style="display: inline; float: left; margin-left: 15px" [(ngModel)]="selectedHost">
      <option *ngFor="let _ of hostData; index as i" [value]="i">
        {{hostData[i]}}
      </option>
    </select>
    
    <select class="method_select" id="method_select" style="display: inline; float: left; margin-left: 15px" [(ngModel)]="selectedMethod">
      <option *ngFor="let _ of methodData; index as i" [value]="i">
        {{methodData[i]}}
      </option>
    </select>

    <select class="year_select" id="method_select" style="display: inline; float: left; margin-left: 15px" [(ngModel)]="selectedYear">
      <option *ngFor="let _ of yearData; index as i" [value]="i">
        {{yearData[i]}}
      </option>
    </select>

    <select class="facility_select" id="facility_select" style="display: inline; float: left; margin-left: 15px;" [(ngModel)]="selectedFacility">
      <option *ngFor="let _ of facilityData; index as i" [value]="i">
        {{facilityData[i]}}
      </option>
    </select>

    <button mat-raised-button class="search_button" id="search_button" color="primary" style="text-align: center; display: inline; float: left; margin-left: 15px;" (click)="searchclick($event)">Search</button>
    <button mat-raised-button class="clear_button" id="clear_button" color="primary" style="display: inline; float: left; margin-left: 15px; margin-right: 10px;" (click)="clearclick($event)">Clear</button>
    <button mat-icon-button (click)="helpbox.openDialog()" appearance="outline">
      <mat-icon>help</mat-icon>
    </button>


    <app-table *ngIf="showTable" [exoplanetData]="exoplanetData" [numResults]="numResults" style="display: flex; justify-content:center; align-items:center;"></app-table>
    
    
</span>