p {
    font-family: Lato;
  }

  .inputbar {
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
  } 

  .hostname_select, .method_select, .year_select, .facility_select  {
    width: 260px;
    height:40px;
    font-size:16px;
    text-align:left;
    padding-left: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 450;
    margin-left: 15px;
  }

  .search_button, .clear_button {
    background-color: #0b3d91;
    width: 80px;
    height: 40px;
    font-size:16px;
    letter-spacing: 0.1px;
    margin-left: 15px;
  }

  #downloadButton {
    position: fixed;
    bottom: 50px;
    right: 30px;
  }

  .table {
    margin: 25px 0;
    display: block;
    -ms-overflow-style: none;
    height: calc(100% - 200px);
    width: 98%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 25px;
    box-shadow: 0 0 0.55em 0.3em rgba(0, 0, 0, 0.15);
    
    margin-left: 1%;
    background-color: white;
}

.table::-webkit-scrollbar { 
  width: 0.2em;
  background-color: #F5F5F5; 
}

  
  


  