p {
    font-family: Lato;
  }

  .inputbar {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    float: left;
  } 

  .hostname_select, .method_select, .year_select, .facility_select  {
    width: 260px;
    height:40px;
    font-size:16px;
    text-align:left;
    padding-left: 10px;
    letter-spacing: 0.1px;
    display: inline;
    padding-left: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 450;
  }

  .search_button {
    background-color: #0b3d91;
    width: 130px;
    height: 40px;
    font-size:16px;
    letter-spacing: 0.1px;
  }

  


  