/* Inputbar Container */
.inputbar {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
  width: 100%;
} 

.inputbar::-webkit-scrollbar { 
  display: none;
}

/* Set fixed width if on smaller screen */
@media only screen and (max-width: 1355px) {
  .inputbar{
    padding-right: 15px;
    width: 1355px;
    overflow: hidden;
  }
}

/* Main Inputs */
.hostname_select, .method_select, .year_select, .facility_select  {
  width: 260px;
  height:40px;
  font-size:16px;
  text-align:left;
  padding-left: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 15px;
  transform: all 0.5 ease;
}

.search_button, .clear_button {
  background-color: #0b3d91;
  width: 80px;
  height: 40px;
  font-size:16px;
  letter-spacing: 0.1px;
  margin-left: 15px;
}

.additional-inputs-checkbox{
  margin-left: 15px;
}

/* Additional Inputs */
.additional-inputs {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
  width: 100%;
} 

.pl_bmasse-min-input, .pl_bmasse-max-input{
  width: 75px;
  height:40px;
  font-size:16px;
  text-align:left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 10px;
  transform: all 0.5 ease;
}

.pl_rade-min-input, .pl_rade-max-input{
  width: 82px;
  height:40px;
  font-size:16px;
  text-align:left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 10px;
  transform: all 0.5 ease;
}

.pl_dens-min-input, .pl_dens-max-input{
  width: 85px;
  height:40px;
  font-size:16px;
  text-align:left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 10px;
  transform: all 0.5 ease;
}

.star-type-select, .star-num-select, .planet-num-select{
  width: 100px;
  height:40px;
  font-size:16px;
  text-align:left;
  padding-left: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  margin-left: 10px;
  transform: all 0.5 ease;
}

.planet-num-select{
  width: 115px;
}

.pl_rade-min-input, .pl_dens-min-input, .star-type-select{
  margin-left: 25px;
}

.controversial-checkbox{
  padding-left: 20px;
}

.table{
  width: 100%;
}

/* Custom scrollbar */
.table::-webkit-scrollbar { 
  width: 0.2em;
  background-color: #F5F5F5; 
}

/* No Results + New Search Styling */
p{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  display: inline-block;
}

p:after {
  left: 50%;
  right: 50%;
}

p:hover:after {
  right: 0; left: 0;
}

.no-results-container {
  text-align: center;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.no-results-text{
  font-size: 4em;
  color: #555;
}

.no-results-text:after{
  content:'';
  position: absolute;
  border-bottom: 2px solid #555;
  top: 100%;
  transition: all 0.4s;
 }

.no-results-text:hover{
  cursor: pointer;
}

.new-search {
  font-size: 2em;
  margin-top: 2.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
}

/* Placeholder Styling */
::placeholder { 
  color: black;
  opacity: 1; /* Firefox */
}

#additional-input::placeholder{
  text-align: center;
  white-space:pre-line; 
  font-size: 11.5pt;
  transform: translateY(-25%);
  opacity: 1; /* Firefox */
}

/* Changes cancel button for inputs of type=search to black */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: .6em;
  width: .6em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
  background-size: .6em .6em;
}