p {
    font-family: Lato;
  }

  .inputbar {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    float: left;
  } 

  .hostname_select, .method_select, .year_select, .facility_select  {
    width: 260px;
    height:60px;
    font-size:16px;
    text-align:left;
    padding-left: 10px;
    letter-spacing: 0.1px;
    display: inline;
    padding-left: 
  }

  


  