<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="inputbar" id="inputbar" >
  
  <select class="hostname_select" id="hostname_select" [(ngModel)]="selectedHost">
      <option *ngFor="let _ of hostData; index as i" [value]="i">
        {{hostData[i]}}
      </option>
    </select>
    
    <select class="method_select" id="method_select"  [(ngModel)]="selectedMethod">
      <option *ngFor="let _ of methodData; index as i" [value]="i">
        {{methodData[i]}}
      </option>
    </select>

    <select class="year_select" id="method_select"  [(ngModel)]="selectedYear">
      <option *ngFor="let _ of yearData; index as i" [value]="i">
        {{yearData[i]}}
      </option>
    </select>

    <select class="facility_select" id="facility_select"  [(ngModel)]="selectedFacility">
      <option *ngFor="let _ of facilityData; index as i" [value]="i">
        {{facilityData[i]}}
      </option>
    </select>

    <button mat-raised-button class="search_button" id="search_button" color="primary" style="text-align: center" (click)="searchclick($event)" [disabled]="!firstSearch">
      <div matToolTip="test" >
        Search
      </div>
    </button>
    <button mat-raised-button class="clear_button" id="clear_button" color="primary"  (click)="clearclick($event)">Clear</button>
    <button mat-icon-button (click)="helpbox.openDialog()" appearance="outline">
      <mat-icon>help</mat-icon>
    </button>
    <!-- Show download button if table has results -->
    <button mat-mini-fab color="primary" *ngIf="exoplanetData.length > 0" (click)="download()" id="downloadButton" >
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <!-- Data Table -->
  <div  class="table">
    <app-table [exoplanetData]="exoplanetData" [numResults]="numResults"  *ngIf="showTable" @inOutAnimation></app-table>
    <!-- <p *ngIf="!showTable" class="placeholder-text">Find your new favorite exoplanet!</p> -->
  </div>
