p {
    font-family: Lato;
  }

  .inputbar {
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
  } 

  .hostname_select, .method_select, .year_select, .facility_select  {
    width: 260px;
    height:40px;
    font-size:16px;
    text-align:left;
    padding-left: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 450;
    margin-left: 15px;
  }

  .search_button, .clear_button {
    background-color: #0b3d91;
    width: 80px;
    height: 40px;
    font-size:16px;
    letter-spacing: 0.1px;
    margin-left: 15px;
  }

  #downloadButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
  
  .table{
    height: 100%;
  }

  


  