h2[mat-dialog-title] {
    text-align: center;
}

mat-dialog-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 30px;
    margin-bottom: 20px;
}

mat-card {
    flex-basis: 100%;
    width: 92%;
    min-width: 280px;
}

.small-text {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: gray;
}
