<h2 mat-dialog-title>How to Use</h2>
<mat-dialog-content class="mat-typography">
  <mat-card appMaterialElevation>
    <h3>What is an Exoplanet?</h3>
    <p>An exoplanet, also known as an extrasolar planet, is a planet that orbits a star (or stars) outside of our solar system. 
    These planets are detected using a variety of methods, such as radial velocity, transit, and direct imaging. 
    The study of exoplanets is a rapidly growing field in astronomy and has led to the discovery of thousands of planets 
    orbiting stars in our galaxy. The discovery of exoplanets has also led to the possibility of finding potentially 
    habitable planets and the search for extraterrestrial life.</p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h3>Initiating a Search</h3>
  <p>To search NASA's exoplanet database, select a valid query using one of the four available drop-down boxes. 
    Each drop-down box allows for specific information to be entered, such as the hostname of a star, the discovery 
    method used, and the discovery year and facility. To learn more about each option, refer to the input help section. 
    Once a query has been entered, click the search button to retrieve data from NASA's database. Note that large searches
    can take up to 20 seconds to process. Some example large searches include exoplanets discovered using transit, exoplanets 
    discovered in 2014 and 2016, and exoplanets first observed by Kepler.</p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h3>Understanding the Input</h3>
  <p>When searching, the input options allow for specific information to be entered. Here's what each option represents:</p>
  <ul>
    <li>The hostname option refers to the name of the star an exoplanet orbits.</li>
    <li>The discovery method option refers to how the exoplanet was first discovered.</li>
    <li>The discovery year option refers to the year the exoplanet was first found.</li>
    <li>The discovery facility option refers to the facility that first discovered the exoplanet.</li>
  </ul>
  </mat-card>
  <mat-card appMaterialElevation>
  <h3>Receiving Results</h3>
  <p>After submitting a search, the results will be displayed in a table format. 
    Additionally, a download button will appear, allowing the results to be exported to a CSV file on the local disk. 
    To sort the data, click on a column header to toggle between descending and ascending order. 
    By clicking on an individual exoplanet's row, specific data about that exoplanet can be viewed.
    Clicking on a card will search for exoplanets with similar data.
  </p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h3>Understanding the Results</h3>
  <p>The results returned from the search will include columns with information such as the exoplanet's name, host's name, discovery method, discovery year, discovery facility, and academic reference. 
    These pieces of data provide valuable insights into the characteristics and origins of the exoplanets returned in the search. </p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h4>Developed by Adam Jarvis </h4><span class="small-text">(entering the Konami code will show secret exoplanets!)</span>
</mat-card>
<br>
</mat-dialog-content>
