.small-text {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: gray;
}

mat-dialog-content {
    display: flex;
    flex-wrap: wrap;
}

mat-dialog-content{
    position: relative;
}

mat-card {
    flex-basis: 100%;
    width: 92%;
    min-width: 280px;
}

mat-dialog-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 50px;
    margin-bottom: 20px
  }
  
