<h2 mat-dialog-title>How to Use</h2>
<mat-dialog-content class="mat-typography">
  

  <h3>Initiating a Search</h3>
  <p>Using one of the four drop-down boxes, enter a valid query to search NASA's exoplanet database.
    To learn more about each drop-down box, see the input help section below. After entering 
    query, click the search button to fetch data from NASA's database. In order for the search
    button to be enabled, at least one drop-down box needs to be populated. </p>

  <h3>Understanding the Input</h3>
  <p>Hostname refers to the name of the star an exoplanet is orbiting. Discovery method refers to how 
    researchers first discovered an exoplanet. Discovery year refers to the year an exoplanet was first 
    found and the discovery facility refers to which facility first found an exoplanet. 
  </p>

  <h3>Receiving Results</h3>
  <p>After receiving returned data from NASA, a table will appear with the formatted results. A download
    button will also appear which will export the results in CSV format to the local disk. To sort the data,
    click a column header to toggle between descending and ascending order.

    Hint: click on an exoplanet's row in the results table to visit the exoplanet's NASA's Eyes page!
  </p>

  <h3>Understanding Result Columns</h3>
  <p>From prototype through global deployment, Angular delivers the productivity and scalable
    infrastructure that supports Google's largest applications.</p>

  <h3>What is Angular?</h3>

  <p>Angular is a platform that makes it easy to build applications with the web. Angular
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. Angular empowers developers to build
    applications that live on the web, mobile, or the desktop</p>

  <h4>Developed by Adam Jarvis</h4>
</mat-dialog-content>