<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700' rel='stylesheet' type='text/css'>
</head>
<h2 mat-dialog-title>How to Use</h2>
<mat-dialog-content class="mat-typography">
  <mat-card appMaterialElevation>
    <h3>What is an Exoplanet?</h3>
      <p>An exoplanet, also known as an <a target="_blank" href="https://exoplanets.nasa.gov/what-is-an-exoplanet/overview/" rel="noreferrer noopener">extrasolar planet</a>, is a planet that orbits a star(s) outside of our solar system. 
      These planets are detected using a variety of methods, such as radial velocity, transit, and direct imaging. 
      <br>
      <br>
      The study of exoplanets is a rapidly growing field in astronomy and has led to the discovery of thousands of planets 
      orbiting stars in our galaxy. The discovery of exoplanets has also led to the possibility of finding potentially 
      habitable planets and the search for extraterrestrial life.</p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h3>Initiating a Search</h3>
    <p>To search <a href="https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PSCompPars" target="_blank" rel="noopener noreferrer">NASA's exoplanet database</a>, enter a valid query using the available inputs. 
      Each input allows for specific information to be entered, such as the hostname of a star, the discovery 
      method used, and the discovery year and facility. To learn more about each option, refer to the input help section. 
      <br>
      <br>
      Once a query has been entered, click the search button to retrieve data from NASA's database. Other additional inputs are accessible by selecting the checkbox
      next to the clear button.</p>
  </mat-card>
  <mat-card appMaterialElevation>
    <h3>Understanding the Input</h3>
      <p>When searching, the input options allow for specific information to be entered. Here's what each option represents:</p>
      <ul>
        <li>Host name refers to the name of the star an exoplanet orbits.</li>
        <li>Discovery method, year, and facility refers to how the exoplanet was first discovered, what year it was discovered, and what facility first observed it respectively.</li>
        <li>Discovery year refers to the year the exoplanet was first found.</li>
        <li>Discovery facility refers to the facility that first discovered the exoplanet.</li>
      </ul>
      <br>
  </mat-card>
  <mat-card appMaterialElevation>
    <h3>Receiving Results</h3>
      <p>After submitting a search, the results will be displayed in a table format. 
        Additionally, a download button will appear to export the data to the local disk as a CSV file. 
        <br>
        <br>
        To sort the data, click on a column header to toggle between descending and ascending order. 
        Clicking on an individual exoplanet's row will show specific details about that exoplanet, including its type, orbit information, and its position 
        in the night sky. 
        <br>
        <br>
        Values with a cyan color in the expanded row are searchable terms; clicking on one will search for Exoplanets with similar data.
      </p>
    <br>
  </mat-card>
  <mat-card appMaterialElevation>
    <h3>Understanding the Results</h3>
      <p>The results returned from the search will include columns with information such as the exoplanet's name, host's name, discovery method, discovery year, discovery facility, and academic reference. </p>
        <li>The density column is measured in g/cm<sup>3</sup></li>   
        <li>The radius column is measured in units of radius of the Earth (ER)</li> 
        <li>The mass column is measured in units of mass of the Earth (EM)</li>
        <br>
      <p>For example, an exoplanet with a radius of 0.5 ER and a mass of 2 EM has half the radius and twice the mass of the Earth. For reference, the Earth's radius is 6,371km, its mass is 5.972 x 10<sup>24</sup> kg, and its density is 5.5 g/cm<sup>3</sup>.</p>
  </mat-card>
  <mat-card appMaterialElevation>
  <h4>Data Source</h4>
  <p>This web application utilizes Table Access Protocol <a target="_blank" href="https://www.ivoa.net/documents/TAP/" rel="noreferrer noopener">(TAP)</a> to request and return data from the Exoplanet Archive. 
    TAP is a protocol developed by IVOA that allows access and querying of table data on remote servers, primarily for astronomical data. The list of planets is routinely updated bi-weekly, but may be updated 
    more frequently depending on new significant exoplanet discoveries. </p>
  <h4>Developed by Adam Jarvis </h4>
  <p style="margin-bottom: 10px;"> This web application was developed using <a href="https://angular.io" target="_blank" rel="noopener noreferrer">Angular</a> for my senior design project. The source code can be found on <a target="_blank" href="https://github.com/jarvisar/senior-design/" rel="noreferrer noopener">Github</a>. 
    <p>This project also uses my <a target="_blank" href="https://github.com/jarvisar/cors-proxy">CORS Proxy</a>.</p>
    <span class="small-text" >
      <br>(hint: entering the Konami code will show secret exoplanets!)</span>
</mat-card>
<br>
<button mat-button (click)="clearData()">Clear Cached Data</button>
</mat-dialog-content>


