.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  position: relative;
  width: 100%;
}

a:hover {
  cursor: pointer;
}

.overview-button {
  background-color: #fc3d21;
}

.eyes-button {
  background-color: #999999;
}

.ref-button {
  background-color: #0b3d91;
}

.skymap-button{
  background-color: #fc3d21;
}

.button{
  height: 40px;
  width: 100%;
  font-size:16px;
  letter-spacing: 0.1px;
  color: white;
}

iframe {
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 55px);
  overflow: hidden;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.mat-body-2{
  font-size: 16px;
}

.mat-card {
  width: calc(30% - 60px);
  margin: 0 10px;
}

.resources-card{
  width: 165px;
}

.mat-icon-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 20px;
  flex-wrap: nowrap;
}

mat-card img{
  object-fit: contain;
  width: 99%; 
  height: calc(100% - 55px);
  border: 1px solid white;
  border-radius: 5%;
}

mat-card {
  margin-bottom: 15px;
  overflow: hidden; 
  position: relative;
  max-height: 95%;
}

.controversial-flag {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333333;
  margin-left: 5px;
}

/* css styling for underlining anchors */
.search-anchor{
  position: relative;
  display: inline-block;
}
.search-anchor:after{
  content:'';
  position: absolute;
  border-bottom: 2px solid #666;
  top: 90%;
  transition: all 0.3s;
 }

.search-anchor:after {
  right: 50%;
  left: 50%;
}
.search-anchor:hover:after {
  right: 0; left: 0;
}