.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.eyes-button {
    background-color: #fc3d21;
    height: 40px;
    width: 155px;
    font-size:16px;
    letter-spacing: 0.1px;
    color: white;
}

mat-card.mat-card-pointer:hover {
  cursor: pointer;
}

.ref-button {
  background-color: #0b3d91;
  height: 40px;
  width: 155px;
  font-size:16px;
  letter-spacing: 0.1px;
  color: white;
}
.overview-button {
  background-color: #999999;
  height: 40px;
  width: 155px;
  font-size:16px;
  letter-spacing: 0.1px;
  color: white;
}

iframe {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 95px);
  overflow: hidden;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.mat-body-2{
  font-size: 16px;
}

  .mat-card {
    width: calc(30% - 60px);
    margin: 0 10px;
  }

  .resources-card{
    width: 155px;
  }

mat-card img{
    object-fit: cover;
    width: 99%; 
    height: 90%;
    border: 1px solid white;
    border-radius: 5%;
}

.mat-icon-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 20px;
  flex-wrap: nowrap;
}

.controversial-flag {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333333;
  margin-left: 5px;
}

mat-card {
  margin-bottom: 10px;
  overflow: hidden; 
  position: relative;
  height: 95%;
}