<div class="card-container">
    <mat-card class="mat-card" appMaterialElevation>
        <div class="mat-body-2">Observed by {{exoplanet.disc_facility}}</div>
        <br>
        <img id="facility-image" *ngIf="exoplanet.disc_facility != 'Multiple Observatories' && exoplanet.disc_facility != 'Multiple Facilities' && exoplanet.disc_facility != 'Atacama Large Millimeter Array (ALMA)' && exoplanet.disc_facility != 'CHaracterising ExOPlanets Satellite (CHEOPS)' 
        && exoplanet.disc_facility != 'NASA Infrared Telescope Facility (IRTF)' && exoplanet.disc_facility != 'Winer Observatory' && exoplanet.disc_facility != 'European Space Agency (ESA) Gaia Satellite' && exoplanet.disc_facility != 'Haleakala Observatory' && exoplanet.disc_facility != 'Wide-field Infrared Survey Explorer (WISE) Satellite Mission' && exoplanet.disc_facility != 'European Southern Observatory' && exoplanet.disc_facility != 'Very Long Baseline Array' && exoplanet.disc_facility != 'Next-Generation Transit Survey (NGTS)' && exoplanet.disc_facility !=  'SPECULOOS Southern Observatory'" 
        src="https://exoplanets.nasa.gov/assets/eox/observatories/{{this.formattedDiscFacility}}" style="margin-bottom: 10px">
      </mat-card>
      <mat-card class="mat-card" appMaterialElevation >
        <div class="mat-body-2">Detection Method: {{exoplanet.discoverymethod}}</div>
        <br>
        <div class="mat-body-1">{{methodDict[exoplanet.discoverymethod]}}</div>
      </mat-card>
      <mat-card class="mat-card" appMaterialElevation >
        <div class="mat-body-2">Host Star: {{exoplanet.hostname}}</div>
        <br>
        
      </mat-card>
      <mat-card class="resources-card " appMaterialElevation>
        <div class="mat-body-2">Additional Resources</div>
        <br>
          <div matLine class="resources-container">
            <button mat-raised-button (click)="openOverview()" class="overview-button">Overview</button>
            <br>
            <br>
            <button mat-raised-button (click)="nasaEyes()" class="eyes-button">NASA Eyes</button>
            <br>
            <br>
            <button mat-raised-button (click)="openRef()" class="ref-button">Reference<div class="ref-link" #refContainer style="display: none;"></div></button>
            <span class="mat-icon-bottom" *ngIf="exoplanet.pl_controv_flag == 1" matTooltip="Confirmation status of this planet has been questioned in the published literature" matTooltipPosition="above">
              <mat-icon >error_outline</mat-icon>
              <p class="controversial-flag">Controversial</p>
            </span>
          </div>
      </mat-card>  
</div>