

.eyes-button {
    background-color: #fc3d21;
    
    height: 40px;
    font-size:16px;
    letter-spacing: 0.1px;
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .mat-card {
    width: 30%;
  }

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 99%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 90%;
    border: 1px solid white;
    border-radius: 5%;
  }