h2{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
}

.checkbox-container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 16px;
    align-items: center;
}

.checkbox-subcontainer{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 16px;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
}
    
.button{
    height: 50px;
    width: 100px;
    margin-right: 0px;
    background-color: #0b3d91;
    color: white;
    font-size: 14pt;
}

.advanced-button{
    width: 120px;
    background-color: #999999;
}

.default-button{
    background-color: #999999;;
}